#header {
    background-color: lightgreen;
    grid-column: 1/3;
}

#content {
    background-color: lightcoral;
    grid-column: 2/3;
}

#sidebar {
    background-color: lightblue;
    grid-column: 1;
    grid-row: 2;
}

#toDoFormContainer {
    display: none;
}

#folderFormContainer {
    display: none;

}

#sidebarTop {
    background-color: red;
}

body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
}

.uuid {
    display: none;
}